<form class="cards-sheet {{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="card-face" src="{{document.img}}" title="{{document.name}}"/>
        <h1 class="cardsname"></h1>
            <input type="text" name="name" value="{{document.name}}" placeholder="{{ localize "TC.Cards.FutureDeck" }}"/>
        </h1>
    </header>
    <body>
        <nav class="sheet-navigation tabs" data-group="primary">
            <b><a class="item" data-tab="cards-config">{{ localize "TC.Cards.Config" }}</a></b>
            <b><a class="item active" data-tab="cards-list">{{ localize "TC.Cards.CardPl" }}</a></b>
        </nav>

        <div class="tc-sheet-content">
            <div class="tab cards-config" data-group="primary" data-tab="cards-config">
                {{> "systems/to-change/templates/cards/parts/cards-config.hbs"}}
            </div>
            <div class="tab cards-list" data-group="primary" data-tab="cards-list">
                {{> "systems/to-change/templates/cards/parts/cards-list.hbs"}}
            </div>
        </div>
    </body>
    <footer class="tc-card-buttons flexrow">
        <button class="tc-cards-button" id="shuffle-button" title="{{ localize "TC.Cards.Controls.Tooltip.Shuffle" }}" type="button">{{ localize "TC.Cards.Controls.Shuffle"}}</button>
        <button class="tc-cards-button" title="{{ localize "TC.Cards.Controls.Tooltip.Deal" }}">{{ localize "TC.Cards.Controls.Deal"}}</button>
        <button class="tc-cards-button" id="peek-button" type="button" title="{{ localize "TC.Cards.Controls.Tooltip.Peek" }}">{{ localize "TC.Cards.Controls.Peek"}}</button>
        <button class="tc-cards-button" title="{{ localize "TC.Cards.Controls.Tooltip.Reveal" }}">{{ localize "TC.Cards.Controls.Reveal"}}</button>
        <button class="tc-cards-button" title="{{ localize "TC.Cards.Controls.Tooltip.Reset" }}">{{ localize "TC.Cards.Controls.Reset"}}</button>
        <button class="tc-cards-button" title="{{ localize "TC.Cards.Controls.Tooltip.Save" }}" type="submit">{{ localize "TC.Cards.Controls.Save"}}</button>
    </footer>
</form>