<div class="textbox-left textbox">
    <b>X</b> <input type="text" name="system.transgender.PATransgender1" value="{{actor.system.transgender.PATransgender1}}"><br/>
    <b>XI</b> <input type="text" name="system.transgender.PATransgender2" value="{{actor.system.transgender.PATransgender2}}"><br/>
    <b>XII</b> <input type="text" name="system.transgender.PATransgender3" value="{{actor.system.transgender.PATransgender3}}">
    <h3>{{ localize "TC.Attribute.PhysicalAptitudeAbbr" }}</h3>
</div>
<div class="textbox-right textbox">
    <b>I</b> <input type="text" name="system.transgender.MATransgender1" value="{{actor.system.transgender.MATransgender1}}"><br/>
    <b>II</b> <input type="text" name="system.transgender.MATransgender2" value="{{actor.system.transgender.MATransgender2}}"><br/>
    <b>III</b> <input type="text" name="system.transgender.MATransgender3" value="{{actor.system.transgender.MATransgender3}}">
    <h3 class="title-right">{{ localize "TC.Attribute.MentalAptitudeAbbr" }}</h3>
</div>
<div class="textbox-left textbox">
    <h3>{{ localize "TC.Attribute.MentalFortitudeAbbr" }}</h3>
    <b>VII</b> <input type="text" name="system.transgender.MFTransgender1" value="{{actor.system.transgender.MFTransgender1}}"><br/>
    <b>VIII</b> <input type="text" name="system.transgender.MFTransgender2" value="{{actor.system.transgender.MFTransgender2}}"><br/>
    <b>IX</b> <input type="text" name="system.transgender.MFTransgender3" value="{{actor.system.transgender.MFTransgender3}}">
</div>
<div class="textbox-right textbox">
    <h3 class="title-right">{{ localize "TC.Attribute.PhysicalFortitudeAbbr" }}</h3>
    <b>IV</b> <input type="text" name="system.transgender.PFTransgender1" value="{{actor.system.transgender.PFTransgender1}}"><br/>
    <b>V</b> <input type="text" name="system.transgender.PFTransgender2" value="{{actor.system.transgender.PFTransgender2}}"><br/>
    <b>VI</b> <input type="text" name="system.transgender.PFTransgender3" value="{{actor.system.transgender.PFTransgender3}}">
</div>