<div class="textbox-left textbox">
    <b>X</b> <input type="checkbox" name="system.transgenderCheck.PATransgender1" {{#if actor.system.transgenderCheck.PATransgender1}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PATransgender1" value="{{actor.system.transgender.PATransgender1}}"><br/>
    <b>XI</b> <input type="checkbox" name="system.transgenderCheck.PATransgender2" {{#if actor.system.transgenderCheck.PATransgender2}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PATransgender2" value="{{actor.system.transgender.PATransgender2}}"><br/>
    <b>XII</b> <input type="checkbox" name="system.transgenderCheck.PATransgender3" {{#if actor.system.transgenderCheck.PATransgender3}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PATransgender3" value="{{actor.system.transgender.PATransgender3}}">
    <h3 class="title-pa">{{ localize "TC.Attribute.PhysicalAptitudeAbbr" }}</h3>
</div>
<div class="textbox-right textbox">
    <b>I</b> <input type="checkbox" name="system.transgenderCheck.MATransgender1" {{#if actor.system.transgenderCheck.MATransgender1}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MATransgender1" value="{{actor.system.transgender.MATransgender1}}"><br/>
    <b>II</b> <input type="checkbox" name="system.transgenderCheck.MATransgender2" {{#if actor.system.transgenderCheck.MATransgender2}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MATransgender2" value="{{actor.system.transgender.MATransgender2}}"><br/>
    <b>III</b> <input type="checkbox" name="system.transgenderCheck.MATransgender3" {{#if actor.system.transgenderCheck.MATransgender3}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MATransgender3" value="{{actor.system.transgender.MATransgender3}}">
    <h3 class="title-right title-ma">{{ localize "TC.Attribute.MentalAptitudeAbbr" }}</h3>
</div>
<div class="textbox-left textbox-bottom textbox">
    <h3 class="title-mf">{{ localize "TC.Attribute.MentalFortitudeAbbr" }}</h3>
    <b>VII</b> <input type="checkbox" name="system.transgenderCheck.MFTransgender1" {{#if actor.system.transgenderCheck.MFTransgender1}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MFTransgender1" value="{{actor.system.transgender.MFTransgender1}}"><br/>
    <b>VIII</b> <input type="checkbox" name="system.transgenderCheck.MFTransgender2" {{#if actor.system.transgenderCheck.MFTransgender2}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MFTransgender2" value="{{actor.system.transgender.MFTransgender2}}"><br/>
    <b>IX</b> <input type="checkbox" name="system.transgenderCheck.MFTransgender3" {{#if actor.system.transgenderCheck.MFTransgender3}}checked{{/if}}> <input type="text" class="tg-textbox textbox-mental" name="system.transgender.MFTransgender3" value="{{actor.system.transgender.MFTransgender3}}">
</div>
<div class="textbox-right textbox-bottom textbox">
    <h3 class="title-right title-pf">{{ localize "TC.Attribute.PhysicalFortitudeAbbr" }}</h3>
    <b>IV</b> <input type="checkbox" name="system.transgenderCheck.PFTransgender1" {{#if actor.system.transgenderCheck.PFTransgender1}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PFTransgender1" value="{{actor.system.transgender.PFTransgender1}}"><br/>
    <b>V</b> <input type="checkbox" name="system.transgenderCheck.PFTransgender2" {{#if actor.system.transgenderCheck.PFTransgender2}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PFTransgender2" value="{{actor.system.transgender.PFTransgender2}}"><br/>
    <b>VI</b> <input type="checkbox" name="system.transgenderCheck.PFTransgender3" {{#if actor.system.transgenderCheck.PFTransgender3}}checked{{/if}}> <input type="text" class="tg-textbox textbox-physical" name="system.transgender.PFTransgender3" value="{{actor.system.transgender.PFTransgender3}}">
</div>