<form class="actor-sheet {{cssClass}}" autocomplete="off">
    <header>
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize "TC.Character.Name" }}"/></h1>
    </header>
    <body>
        <table class="character-details">
            <tr>
                <td>
                    <label for="faceCard">{{ localize "TC.FaceCard" }}</label>
                    <select name="system.details.faceCard" id="faceCard">
                        <option value="select" {{#if (eq actor.system.details.faceCard "select")}}selected{{/if}}>{{ localize "TC.Placeholder.SelectFaceCard" }}</option>
                        <option value="thefool" {{#if (eq actor.system.details.faceCard "thefool")}}selected{{/if}}>{{ localize "TC.Tarot.TheFool" }}</option>
                        <option value="themagician" {{#if (eq actor.system.details.faceCard "themagician")}}selected{{/if}}>{{ localize "TC.Tarot.TheMagician" }}</option>
                        <option value="thehighpriestess" {{#if (eq actor.system.details.faceCard "thehighpriestess")}}selected{{/if}}>{{ localize "TC.Tarot.TheHighPriestess" }}</option>
                        <option value="theempress" {{#if (eq actor.system.details.faceCard "theempress")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmpress" }}</option>
                        <option value="theemperor" {{#if (eq actor.system.details.faceCard "theemperor")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmperor" }}</option>
                        <option value="thehierophant" {{#if (eq actor.system.details.faceCard "thehierophant")}}selected{{/if}}>{{ localize "TC.Tarot.TheHierophant" }}</option>
                        <option value="thelovers" {{#if (eq actor.system.details.faceCard "thelovers")}}selected{{/if}}>{{ localize "TC.Tarot.TheLovers" }}</option>
                        <option value="thechariot" {{#if (eq actor.system.details.faceCard "thechariot")}}selected{{/if}}>{{ localize "TC.Tarot.TheChariot" }}</option>
                        <option value="strength" {{#if (eq actor.system.details.faceCard "strength")}}selected{{/if}}>{{ localize "TC.Tarot.Strength" }}</option>
                        <option value="thehermit" {{#if (eq actor.system.details.faceCard "thehermit")}}selected{{/if}}>{{ localize "TC.Tarot.TheHermit" }}</option>
                        <option value="wheeloffortune" {{#if (eq actor.system.details.faceCard "wheeloffortune")}}selected{{/if}}>{{ localize "TC.Tarot.WheelOfFortune" }}</option>
                        <option value="justice" {{#if (eq actor.system.details.faceCard "justice")}}selected{{/if}}>{{ localize "TC.Tarot.Justice" }}</option>
                        <option value="thehangedman" {{#if (eq actor.system.details.faceCard "thehangedman")}}selected{{/if}}>{{ localize "TC.Tarot.TheHangedMan" }}</option>
                        <option value="death" {{#if (eq actor.system.details.faceCard "death")}}selected{{/if}}>{{ localize "TC.Tarot.Death" }}</option>
                        <option value="temperance" {{#if (eq actor.system.details.faceCard "temperance")}}selected{{/if}}>{{ localize "TC.Tarot.Temperance" }}</option>
                        <option value="thedevil" {{#if (eq actor.system.details.faceCard "thedevil")}}selected{{/if}}>{{ localize "TC.Tarot.TheDevil" }}</option>
                        <option value="thetower" {{#if (eq actor.system.details.faceCard "thetower")}}selected{{/if}}>{{ localize "TC.Tarot.TheTower" }}</option>
                        <option value="thestar" {{#if (eq actor.system.details.faceCard "thestar")}}selected{{/if}}>{{ localize "TC.Tarot.TheStar" }}</option>
                        <option value="themoon" {{#if (eq actor.system.details.faceCard "themoon")}}selected{{/if}}>{{ localize "TC.Tarot.TheMoon" }}</option>
                        <option value="thesun" {{#if (eq actor.system.details.faceCard "thesun")}}selected{{/if}}>{{ localize "TC.Tarot.TheSun" }}</option>
                        <option value="judgement" {{#if (eq actor.system.details.faceCard "judgement")}}selected{{/if}}>{{ localize "TC.Tarot.Judgement" }}</option>
                        <option value="theworld" {{#if (eq actor.system.details.faceCard "theworld")}}selected{{/if}}>{{ localize "TC.Tarot.TheWorld" }}</option>
                    </select>
                </td>

                <td>
                    <label for="risingCard">{{ localize "TC.RisingCard" }}</label>
                    <select name="system.details.risingCard" id="risingCard">
                        <option value="select" {{#if (eq actor.system.details.risingCard "select")}}selected{{/if}}>{{ localize "TC.Placeholder.SelectRisingCard" }}</option>
                        <option value="thefool" {{#if (eq actor.system.details.risingCard "thefool")}}selected{{/if}}>{{ localize "TC.Tarot.TheFool" }}</option>
                        <option value="themagician" {{#if (eq actor.system.details.risingCard "themagician")}}selected{{/if}}>{{ localize "TC.Tarot.TheMagician" }}</option>
                        <option value="thehighpriestess" {{#if (eq actor.system.details.risingCard "thehighpriestess")}}selected{{/if}}>{{ localize "TC.Tarot.TheHighPriestess" }}</option>
                        <option value="theempress" {{#if (eq actor.system.details.risingCard "theempress")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmpress" }}</option>
                        <option value="theemperor" {{#if (eq actor.system.details.risingCard "theemperor")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmperor" }}</option>
                        <option value="thehierophant" {{#if (eq actor.system.details.risingCard "thehierophant")}}selected{{/if}}>{{ localize "TC.Tarot.TheHierophant" }}</option>
                        <option value="thelovers" {{#if (eq actor.system.details.risingCard "thelovers")}}selected{{/if}}>{{ localize "TC.Tarot.TheLovers" }}</option>
                        <option value="thechariot" {{#if (eq actor.system.details.risingCard "thechariot")}}selected{{/if}}>{{ localize "TC.Tarot.TheChariot" }}</option>
                        <option value="strength" {{#if (eq actor.system.details.risingCard "strength")}}selected{{/if}}>{{ localize "TC.Tarot.Strength" }}</option>
                        <option value="thehermit" {{#if (eq actor.system.details.risingCard "thehermit")}}selected{{/if}}>{{ localize "TC.Tarot.TheHermit" }}</option>
                        <option value="wheeloffortune" {{#if (eq actor.system.details.risingCard "wheeloffortune")}}selected{{/if}}>{{ localize "TC.Tarot.WheelOfFortune" }}</option>
                        <option value="justice" {{#if (eq actor.system.details.risingCard "justice")}}selected{{/if}}>{{ localize "TC.Tarot.Justice" }}</option>
                        <option value="thehangedman" {{#if (eq actor.system.details.risingCard "thehangedman")}}selected{{/if}}>{{ localize "TC.Tarot.TheHangedMan" }}</option>
                        <option value="temperance" {{#if (eq actor.system.details.risingCard "temperance")}}selected{{/if}}>{{ localize "TC.Tarot.Temperance" }}</option>
                        <option value="thedevil" {{#if (eq actor.system.details.risingCard "thedevil")}}selected{{/if}}>{{ localize "TC.Tarot.TheDevil" }}</option>
                        <option value="thetower" {{#if (eq actor.system.details.risingCard "thetower")}}selected{{/if}}>{{ localize "TC.Tarot.TheTower" }}</option>
                        <option value="thestar" {{#if (eq actor.system.details.risingCard "thestar")}}selected{{/if}}>{{ localize "TC.Tarot.TheStar" }}</option>
                        <option value="themoon" {{#if (eq actor.system.details.risingCard "themoon")}}selected{{/if}}>{{ localize "TC.Tarot.TheMoon" }}</option>
                        <option value="thesun" {{#if (eq actor.system.details.risingCard "thesun")}}selected{{/if}}>{{ localize "TC.Tarot.TheSun" }}</option>
                        <option value="judgement" {{#if (eq actor.system.details.risingCard "judgement")}}selected{{/if}}>{{ localize "TC.Tarot.Judgement" }}</option>
                        <option value="theworld" {{#if (eq actor.system.details.risingCard "theworld")}}selected{{/if}}>{{ localize "TC.Tarot.TheWorld" }}</option>
                    </select>
                </td>

                <td>
                    <label for="fallingCard">{{ localize "TC.FallingCard" }}</label>
                    <select name="system.details.fallingCard" id="fallingCard">
                        <option value="select" {{#if (eq actor.system.details.fallingCard "select")}}selected{{/if}}>{{ localize "TC.Placeholder.SelectFallingCard" }}</option>
                        <option value="thefool" {{#if (eq actor.system.details.fallingCard "thefool")}}selected{{/if}}>{{ localize "TC.Tarot.TheFool" }}</option>
                        <option value="themagician" {{#if (eq actor.system.details.fallingCard "themagician")}}selected{{/if}}>{{ localize "TC.Tarot.TheMagician" }}</option>
                        <option value="thehighpriestess" {{#if (eq actor.system.details.fallingCard "thehighpriestess")}}selected{{/if}}>{{ localize "TC.Tarot.TheHighPriestess" }}</option>
                        <option value="theempress" {{#if (eq actor.system.details.fallingCard "theempress")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmpress" }}</option>
                        <option value="theemperor" {{#if (eq actor.system.details.fallingCard "theemperor")}}selected{{/if}}>{{ localize "TC.Tarot.TheEmperor" }}</option>
                        <option value="thehierophant" {{#if (eq actor.system.details.fallingCard "thehierophant")}}selected{{/if}}>{{ localize "TC.Tarot.TheHierophant" }}</option>
                        <option value="thelovers" {{#if (eq actor.system.details.fallingCard "thelovers")}}selected{{/if}}>{{ localize "TC.Tarot.TheLovers" }}</option>
                        <option value="thechariot" {{#if (eq actor.system.details.fallingCard "thechariot")}}selected{{/if}}>{{ localize "TC.Tarot.TheChariot" }}</option>
                        <option value="strength" {{#if (eq actor.system.details.fallingCard "strength")}}selected{{/if}}>{{ localize "TC.Tarot.Strength" }}</option>
                        <option value="thehermit" {{#if (eq actor.system.details.fallingCard "thehermit")}}selected{{/if}}>{{ localize "TC.Tarot.TheHermit" }}</option>
                        <option value="wheeloffortune" {{#if (eq actor.system.details.fallingCard "wheeloffortune")}}selected{{/if}}>{{ localize "TC.Tarot.WheelOfFortune" }}</option>
                        <option value="justice" {{#if (eq actor.system.details.fallingCard "justice")}}selected{{/if}}>{{ localize "TC.Tarot.Justice" }}</option>
                        <option value="thehangedman" {{#if (eq actor.system.details.fallingCard "thehangedman")}}selected{{/if}}>{{ localize "TC.Tarot.TheHangedMan" }}</option>
                        <option value="temperance" {{#if (eq actor.system.details.fallingCard "temperance")}}selected{{/if}}>{{ localize "TC.Tarot.Temperance" }}</option>
                        <option value="thedevil" {{#if (eq actor.system.details.fallingCard "thedevil")}}selected{{/if}}>{{ localize "TC.Tarot.TheDevil" }}</option>
                        <option value="thetower" {{#if (eq actor.system.details.fallingCard "thetower")}}selected{{/if}}>{{ localize "TC.Tarot.TheTower" }}</option>
                        <option value="thestar" {{#if (eq actor.system.details.fallingCard "thestar")}}selected{{/if}}>{{ localize "TC.Tarot.TheStar" }}</option>
                        <option value="themoon" {{#if (eq actor.system.details.fallingCard "themoon")}}selected{{/if}}>{{ localize "TC.Tarot.TheMoon" }}</option>
                        <option value="thesun" {{#if (eq actor.system.details.fallingCard "thesun")}}selected{{/if}}>{{ localize "TC.Tarot.TheSun" }}</option>
                        <option value="judgement" {{#if (eq actor.system.details.fallingCard "judgement")}}selected{{/if}}>{{ localize "TC.Tarot.Judgement" }}</option>
                        <option value="theworld" {{#if (eq actor.system.details.fallingCard "theworld")}}selected{{/if}}>{{ localize "TC.Tarot.TheWorld" }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <div {{#if (ne actor.system.details.faceCard "select")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Unselected" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thefool")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheFool" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "themagician")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheMagician" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thehighpriestess")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheHighPriestess" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "theempress")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheEmpress" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "theemperor")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheEmperor" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thehierophant")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheHierophant" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thelovers")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheLovers" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thechariot")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheChariot" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "strength")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Strength" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thehermit")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheHermit" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "wheeloffortune")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.WheelOfFortune" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "justice")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Justice" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thehangedman")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheHangedMan" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "death")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Death" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "temperance")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Temperance" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thedevil")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheDevil" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thetower")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheTower" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thestar")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheStar" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "themoon")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheMoon" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "thesun")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheSun" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "judgement")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.Judgement" }}</div>
                    <div {{#if (ne actor.system.details.faceCard "theworld")}}style="display: none"{{/if}}>{{ localize "TC.Info.FaceCard.TheWorld" }}</div>
                </td>
                <td>
                    <div>{{ localize "TC.Info.RisingCard" }}</div>
                </td>
                <td>
                    <div>{{ localize "TC.Info.FallingCard" }}</div>
                </td>
            </tr>
        </table>

        <div class="change-cross">
            <div class="titles-top">
                <div class="title-left"><b>{{ localize "TC.Attribute.PhysicalAptitude" }}</b></div>
                <div class="title-right"><b>{{ localize "TC.Attribute.MentalAptitude" }}</div>
            </div>
            <div class="row-1 row">
                <textarea class="textbox-left textbox" name="system.descriptions.PADescription1">{{actor.system.descriptions.PADescription1}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.MADescription1">{{actor.system.descriptions.MADescription1}}</textarea>
            </div>
            <div class="row-2 row">
                <textarea class="textbox-left textbox" name="system.descriptions.PADescription2">{{actor.system.descriptions.PADescription2}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.MADescription2">{{actor.system.descriptions.MADescription2}}</textarea>
            </div>
            <div class="row-3 row">
                <textarea class="textbox-left textbox" name="system.descriptions.PADescription3">{{actor.system.descriptions.PADescription3}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.MADescription3">{{actor.system.descriptions.MADescription3}}</textarea>
            </div>
            <div class="row-4 row">
                <b class="textbox-center">Permanence</b><br/>
                <textarea class="textbox-center textbox" name="system.descriptions.permanenceDescription">{{actor.system.descriptions.permanenceDescription}}</textarea>
            </div>
            <div class="row-3 row">
                <textarea class="textbox-left textbox" name="system.descriptions.MFDescription3">{{actor.system.descriptions.MFDescription3}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.PFDescription3">{{actor.system.descriptions.PFDescription3}}</textarea>
            </div>
            <div class="row-2 row">
                <textarea class="textbox-left textbox" name="system.descriptions.MFDescription2">{{actor.system.descriptions.MFDescription2}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.PFDescription2">{{actor.system.descriptions.PFDescription2}}</textarea>
            </div>
            <div class="row-1 row">
                <textarea class="textbox-left textbox" name="system.descriptions.MFDescription1">{{actor.system.descriptions.MFDescription1}}</textarea>
                <textarea class="textbox-right textbox" name="system.descriptions.PFDescription1">{{actor.system.descriptions.PFDescription1}}</textarea>
            </div>
            <div class="titles-bottom">
                <div class="title-left"><b>{{ localize "TC.Attribute.MentalFortitude" }}</b></div>
                <div class="title-right"><b>{{ localize "TC.Attribute.PhysicalFortitude" }}</b></div>
            </div>
        </div>
    </body>
</form>